<div ng-include="'tpl/include/header.html'"></div>

<ion-content class="has-footer has-header">
  <div class="card" ng-if="!orderSucc">
    <label class="item item-input">
      <span class="input-label">联系人</span>
      <input type="text" ng-model="order.user_name" placeholder="请输入联系人名称"/>
    </label>
    <label class="item item-input">
      <span class="input-label">联系电话</span>
      <input type="tel" ng-model="order.phone" placeholder="请输入联系人电话"/>
    </label>
    <label class="item item-input">
      <span class="input-label">送餐地址</span>
      <textarea ng-model="order.addr" placeholder="请输入送餐地址"></textarea>
    </label>
    <label class="item item-input">
      <span class="input-label">性别</span>
    </label>
    <ion-radio ng-model="order.sex" value="1">男</ion-radio>
    <ion-radio ng-model="order.sex" value="2">女</ion-radio>
    <div class="item">
      <div class="row">
        <div class="col"><button class="button button-balanced button-block" ng-click="confirmOrder()">确定下单</button></div>
        <div class="col">
          <button class="button button-assertive button-block" ui-sref="bigCart">取消下单</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card" ng-if="orderSucc">
    <div class="item  balanced-bg">
      <p style="color:#fff;">订餐成功。当前订单编号为：{{oid}}</p>
    </div>
  </div>

</ion-content>

<div ng-include="'tpl/include/footer.html'"></div>